@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;

    --cor-fonte-principal: #0A3871;
    --cor-fonte-secundaria: var(--cor-fundo-secundario);
    --cor-fonte-painel-direito-mensagem-principal: #343A40;
    --cor-fonte-painel-direito-mensagem-secundaria: #495057;

    --cor-fundo-principal: #E5E5E5;
    --cor-fundo-secundario: white;

    --cor-botao-criptografar: #072B61;
    --cor-hover-botao-criptografar: var(--cor-fonte-principal);

    --cor-botao-descriptografar: #EFF1FA;
    --cor-hover-botao-descriptografar: var(--cor-fundo-secundario);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    color: var(--cor-fonte-secundaria);
    background-color: var(--cor-botao-criptografar);
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.menu__navegacao{
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.menu__navegacao__links{
    font-family: var(--fonte-principal);
    font-size: 2.1rem;
    text-decoration: none;
}

.painel{
    background-color: var(--cor-fundo-principal);
    display: flex;
    flex-direction: row;
    height: 88vh;
    border-radius: 24px;
}

.painel__esquerdo{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
}

.painel__esquerdo__interagivel{
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 2% 0 2% 0;
}

.painel__esquerdo__interagivel__textarea{
    resize: none;
    border: none;
    outline: 0;
    width: 100%;
    height: 86%;
    background-color: var(--cor-fundo-principal);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 2rem;
    padding: 2%;
}

.painel__esquerdo__interagivel__textarea::placeholder{
    top: 0;
    left: 0;
    color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes{
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 10%;
}

.painel__esquerdo__interagivel__botoes__botao__criptografar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-criptografar);
    color: var(--cor-fonte-secundaria);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__criptografar:hover{
    background-color: var(--cor-hover-botao-criptografar);
    cursor: pointer;
}

.painel__esquerdo__interagivel__botoes__botao__descriptografar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-descriptografar);
    color: var(--cor-fonte-principal);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__descriptografar:hover{
    background-color: var(--cor-hover-botao-descriptografar);
    cursor: pointer;
}

.painel__esquerdo__interagivel__botoes__botao__copiar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-criptografar);
    color: var(--cor-fonte-secundaria);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__copiar:hover{
    background-color: var(--cor-hover-botao-criptografar);
    cursor: pointer;
}

.painel__direito{
    width: 50%;
}

.painel__direito__interagivel{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 20%;
    height: 95%;
    background-color: var(--cor-fundo-secundario);
    width: 56%;
    border-radius: 24px;
    padding: 2%;
    align-items: center;
    justify-content: center;
    gap: 2.94rem;
}

.painel__direito__interagivel__imagem{
    width: 84%;
}

.painel__direito__interagivel__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    font-size: 2rem;
    color: var(--cor-fonte-painel-direito-mensagem-secundaria);
}

.painel__direito__interagivel__processado{
    box-sizing: border-box;
    margin: 2% 0 0 20%;
    height: 95%;
    background-color: var(--cor-fundo-secundario);
    width: 56%;
    border-radius: 24px;
    padding: 2%;
    align-items: center;
    justify-content: center;
    gap: 2.94rem;
}

.painel__direito__interagivel__processado__texto{
    height: 97%;
    background-color: var(--cor-fundo-secundario);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 2rem;
    border-radius: 24px;
    padding: 2%;
    overflow-wrap: break-word;
}

.painel__direito__interagivel__texto__principal{
    text-align: center;
    font-weight: bold;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 1.5rem;
    color: var(--cor-fonte-painel-direito-mensagem-principal);
}

.painel__direito__interagivel__texto__secundario{
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 1rem;
    color: var(--cor-fonte-painel-direito-mensagem-secundaria);
}

.rodape{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4vh;
    background-color: var(--cor-botao-criptografar);
    text-align: center;
    justify-content: center;
}

.rodape__texto{
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-secundaria);
    font-size: 1rem;
}

@media (max-width: 414px){

    a{
        text-decoration: none;
    }
    
    a:visited{
        color: inherit;
    }

    .painel{
        flex-direction: column;
    }

    .painel__esquerdo{
        box-sizing: border-box;
        height: 50%;
        width: 100%;
    }
    
    .painel__esquerdo__interagivel{
        width: 100%;
        height: 100%;
        margin: 0 2%;
    }
    
    .painel__esquerdo__interagivel__textarea{
        border-radius: 24px;
        height: 98%;
        padding: 2%;
    }
    
    .painel__direito{
        box-sizing: border-box;
        height: 50%;
        width: 100%;
    }
    
    .painel__direito__interagivel{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 2%;
        height: 96%;
        width: 96%;
        border-radius: 24px;
        padding: 0;
        justify-content: center;
        gap: 2.94rem;
    }

    .painel__direito__interagivel__imagem{
        display: none;
    }

    .painel__direito__interagivel__processado{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 2%;
        height: 96%;
        width: 96%;
        border-radius: 24px;
        padding: 0;
        gap: 2.94rem;
    }
    
    .painel__direito__interagivel__processado__texto{
        box-sizing: border-box;
        height: 97%;
        width: 100%;
        background-color: var(--cor-fundo-secundario);
        font-family: var(--fonte-principal);
        color: var(--cor-fonte-principal);
        font-size: 2rem;
        border-radius: 24px;
        padding: 2%;
        overflow-wrap: break-word;
        text-align: left;
    }
}