@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;

    --cor-fonte-principal: #0A3871;
    --cor-fonte-secundaria: var(--cor-fundo-secundario);

    --cor-fundo-principal: #E5E5E5;
    --cor-fundo-secundario: white;

    --cor-botao-criptografar: #072B61;
    --cor-hover-botao-criptografar: var(--cor-fonte-principal);

    --cor-botao-descriptografar: #EFF1FA;
    --cor-hover-botao-descriptografar: var(--cor-fundo-secundario);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: var(--cor-fonte-secundaria);
    background-color: var(--cor-botao-criptografar);
}

a:visited{
    color: inherit;
}

.menu__navegacao{
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.menu__navegacao__links{
    font-family: var(--fonte-principal);
    font-size: 2.1rem;
    text-decoration: none;
}

.painel{
    background-color: var(--cor-fundo-principal);
    display: flex;
    flex-direction: row;
    height: 88vh;
    border-radius: 24px;
}

.painel__esquerdo{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
}

.painel__esquerdo__interagivel{
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 2% 0 2% 0;
}

.painel__esquerdo__interagivel__textarea{
    resize: none;
    border: none;
    outline: 0;
    width: 100%;
    height: 86%;
    background-color: var(--cor-fundo-principal);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 2rem;
    padding: 2%;
}

.painel__esquerdo__interagivel__textarea::placeholder{
    top: 0;
    left: 0;
    color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes{
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: 10%;
}

.painel__esquerdo__interagivel__botoes__botao__criptografar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-criptografar);
    color: var(--cor-fonte-secundaria);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__criptografar:hover{
    background-color: var(--cor-hover-botao-criptografar);
}

.painel__esquerdo__interagivel__botoes__botao__descriptografar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-descriptografar);
    color: var(--cor-fonte-principal);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__descriptografar:hover{
    background-color: var(--cor-hover-botao-descriptografar);
}

.painel__esquerdo__interagivel__botoes__botao__copiar{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--cor-botao-criptografar);
    color: var(--cor-fonte-secundaria);
    border: 0.0625rem solid;
    border-color: var(--cor-fonte-principal);
}

.painel__esquerdo__interagivel__botoes__botao__copiar:hover{
    background-color: var(--cor-hover-botao-criptografar);
}

.painel__direito{
    width: 50%;
}

.painel__direito__interagivel{
    height: 96%;
    margin: 2% 0 0 20%;
    width: 56%;
}

.painel__direito__interagivel__texto{
    height: 97%;
    background-color: var(--cor-fundo-secundario);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    font-size: 2rem;
    border-radius: 24px;
    padding: 2%;
    overflow-wrap: break-word;
}